@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: auto;
  margin: 30px ;
  overflow: auto;
  min-height: 500px auto;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

canvas {
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

button {
  border-radius: 5px;
  width: '150px';
  height: '50px';
  
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 30%;
  padding: 10px;
}

.control {
  margin: auto;
  width: 50%;
  padding: 10px;
  
}

.graph {
  height: 275px;
  width: 400px;
  
}
.graphs { 
  width: 800px;
  margin: 0 auto;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.header {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: rgb(123, 129, 127);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  filter: alpha(opacity=0);
}

.btn:focus {
  outline: none;
  
}
.btn:hover {
  background: rgb(105, 105, 105);
  
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.float-container {
  border: 3px solid #fff;
  margin: 0px;
  padding: 0px;
}

.float-child {
  width: 50%;
  float: left;
  margin: 0px;
  padding: 0px;
  
}  
input[type=button], input[type=file], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  text-align: center;
}